---
import Button from "@/components/starwind/button/Button.astro"
import Container from "@/components/mobiflight/container.astro"

type ButtonVariant =
  | "default"
  | "primary"
  | "secondary"
  | "outline"
  | "ghost"
  | "info"
  | "success"
  | "warning"
  | "error"

interface Props {
  headline: string
  tagline: string
  ctas?: {
    text: string
    link: string
    variant: ButtonVariant
  }[]
  imageSrc: string
}
const { headline, tagline, ctas, imageSrc } = Astro.props
---

<section
  class="w-full bg-cover bg-center bg-no-repeat min-h-120 flex items-center"
  style={`background-image: linear-gradient(to bottom right, rgba(17,24,39,0.7), rgba(12,74,110,0.7)), url('${imageSrc}')`}
>
  <Container class="py-8">
    <div class="flex flex-col gap-6 items-start text-white max-w-3xl">
      <h1 class="text-5xl lg:text-7xl font-bold leading-tight">
        {headline}
      </h1>
      <p class="text-2xl">{tagline}</p>
      <div class="flex flex-row gap-2">
      {
        ctas &&
          ctas.map((cta) => (
            <Button variant={cta.variant} href={cta.link}>
              {cta.text}
            </Button>
          ))
      }
      </div>
    </div>
  </Container>
</section>
